In [1]:
import pandas as pd

df = pd.read_csv("./hotels.csv")

df.head()

     Gewinn  Preis in Mio  Quadratmeter    Stadt
0  119000.0         21.88        3938.0   Berlin
1  250000.0         27.95        3986.0  München
2  250000.0         16.09        2574.0     Köln
3  145000.0         27.58        4155.0  München
4  110000.0         23.76        3795.0   Berlin

In [2]:
X = df[["Gewinn", "Quadratmeter"]].values
Y = df[["Preis in Mio"]].values

In [3]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold   #  Note! RepeatedKFold

import numpy as np

scores = cross_val_score(LinearRegression(), X, Y, cv = RepeatedKFold(n_repeats = 1000))    # Note ! repeats not splits

print(scores)
print(np.mean(scores))

[0.82681826 0.83689184 0.86695252 ... 0.78506892 0.81497355 0.78221234]
0.8163224139798619